table{
    border-style: double;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
}

thead {
    font-size: large;
    text-align: center;
    font-family: "Arial";
    background-color: #cccccc;
    color: black;
}


tr td, .footer{
    font-size: medium;
}

tr td{
    font-family: sans-serif;
    background-color: teal;
    color: black;
}
.footer, .header, .error{
    text-align: center;
}
